# Core
streamlit
numpy
pandas
scipy

gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

# Visualization
plotly
matplotlib
pydeck

# Spatial
geopandas
pyproj
shapely
rasterio
folium
streamlit-folium

# Stats
pykrige

# Machine learning
scikit-learn==1.7.2
joblib
