# Core
streamlit==1.38.0
numpy==1.26.4
pandas==2.3.3
scipy==1.10.1

gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

# Visualization
plotly
matplotlib
pydeck

# Spatial
geopandas==0.14.4
pyproj==3.6.1
shapely==2.0.4
rasterio==1.3.10
folium==0.15.1
streamlit-folium==0.18.0

# Stats
pykrige

# Machine learning
scikit-learn==1.7.2
joblib==1.3.2
