# Core
streamlit>=1.30
numpy
panda
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

# Visualization
plotly
matplotlib
pydeck

# Spatial
geopandas
pyproj
shapely
rasterio
folium
streamlit-folium

# Stats
scipy
pykrige

# Machine learning (MATCH TRAINING)
scikit-learn
joblib

